@mixin border {
    border: 5px solid coral;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; // border: 1px solid coral;
}

body {
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    grid-row-gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    .buttons {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        text-align: center;
        width: 80vw;
        justify-self: center;
        // @include border;
        .button {
            width: 200px;
            margin: 10px;
            background-color: coral;
            border-radius: 5px;
            height: 5em;
            a {
                font-size: 4em;
                text-decoration: none;
                color: white;
            }
        }
    }
    .stopwatch {
        font-size: 11em;
        text-align: center;
        @include border;
        display: flex;
        justify-content: space-around;
        p {
          // @include border;
          width: 1.2em;
          margin: 10px;
          &:last-child {
            color: coral;
          }
        }
    }
    .results {
        color: black;
        width: 200px;
        margin: 0px auto;
        @include border;
        align-self: flex-start;
        padding: 30px 20px;
        text-align: center;
    }
}

.empty {
    display: none
}